:root {
  --main-color: #fe5b3d;
  --second-color: #ffac38;
  --text-color: #ffffff;
  --gradient: linear-gradient(#ffffff, #ffd60a);
}

/* Destop View */
@media (min-width: 992px) and (max-width: 1199.98px) {

  /* Header Section */
  header {
    justify-content: space-evenly;
    left: 35px;
  }

}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991.98px) {

  /** Header Section **/
  header {
    padding: 10px 12px;
    left: 45px;
  }

  #menu-icon {
    display: block;
    position: absolute;
    right: 45px;
  }

  header .navbar {
    position: absolute;
    top: -500px;
    left: 20px;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 40px rgba(255, 255, 255, 0.3);
    transition: 0.3 ease;
    text-align: left;
    z-index: 1000;
    align-items: self-start;
  }

  .navbar a {
    padding: 1rem;
    border-left: 2px solid #FFC300;
    margin: 1rem;
    display: block;
  }

  header .navbar.active {
    top: 125%;
    border-radius: 15px;
    left: -3px;
    background: black;
  }

  .header-logo img {
    margin-right: 0;
    width: 200px;
  }

  .navbar a::after {
    display: none;
  }

  .header-btn button {
    display: none;
  }

  /** Home Section **/
  .form-container form {
    left: 25px;
  }

}

/* Landscape Mobile View */
@media (min-width: 576px) and (max-width: 767.98px) {

  /** Header Section **/
  header {
    padding: 10px 12px;
    margin-left: 8px;

  }

  #menu-icon {
    display: block;
    position: absolute;
    right: 45px;
  }

  header .navbar {
    position: absolute;
    top: -500px;
    left: 20px;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 40px rgba(255, 255, 255, 0.3);
    transition: 0.3 ease;
    text-align: left;
    z-index: 1000;
    align-items: self-start;
  }

  .navbar a {
    padding: 1rem;
    border-left: 2px solid #FFC300;
    margin: 1rem;
    display: block;
  }

  header .navbar.active {
    top: 125%;
    border-radius: 15px;
    left: -3px;
    background: black;
  }

  .header-logo img {
    margin-right: 0;
    width: 200px;
  }

  .navbar a::after {
    display: none;
  }

  .header-btn button {
    display: none;
  }

}

/* Mobile View */
@media (max-width: 575.98px) {

  /** Header Section **/
  header {
    padding: 10px 12px;
    width: 101%;
    margin-left: 17px;
    top: 5px;
  }

  #menu-icon {
    display: block;
    position: absolute;
    right: 45px;
  }

  header .navbar {
    position: absolute;
    top: -500px;
    left: 20px;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 40px rgba(255, 255, 255, 0.3);
    transition: 0.3 ease;
    text-align: left;
    z-index: 1000;
    align-items: self-start;
  }

  .navbar a {
    padding: 1rem;
    border-left: 2px solid #FFC300;
    margin: 1rem;
    display: block;
  }

  header .navbar.active {
    top: 125%;
    border-radius: 15px;
    left: -3px;
    background: black;
  }

  .header-logo img {
    margin-right: 0;
    width: 200px;
  }

  .navbar a::after {
    display: none;
  }

  .header-btn button {
    display: none;
  }

}