/* Variables for consistent spacing and positioning */
:root {
  --header-padding-desktop: 10px 20px;
  --header-padding-mobile: 10px 15px;
  --menu-transition: all 0.4s ease-in-out;
  --header-auto-width: clamp(9rem, calc(1vw + 1rem), 5rem);

  --accent-color: #e4d6a1;
}

/* Base header styles that apply to all screen sizes */
header {
  padding: var(--header-padding-desktop);
  transition: var(--menu-transition);
}

.header-logo img {
  width: var(--header-auto-width);
  transition: all 0.3s ease;
}

/* Default navbar styles (for desktop) */
.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  position: relative;
  margin-right: 0;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--accent-color);
  bottom: -5px;
  left: 20px;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover::after {
  width: 70%;
}

#menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

/* Common mobile menu styles */
@media (max-width: 991.98px) {
  header {
    padding: var(--header-padding-mobile);
  }

  #menu-icon {
    display: block;
    position: absolute;
    right: var(--header-auto-width);
  }

  header .navbar {
    position: absolute;
    top: -500px;
    right: inherit;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.95);
    box-shadow: 0 10px 40px rgba(255, 255, 255, 0.3);
    z-index: 1000;
    align-items: flex-start;
    transition: var(--menu-transition);
    width: 455px;
    width: -webkit-fill-available;
  }

  .navbar a {
    padding: 1rem;
    margin: 0.5rem 1rem;
    display: block;
    border-left: 2px solid #ffc300;
    width: calc(100% - 2rem);
  }

  header .navbar.active {
    top: 116%;
    border-radius: 10px;
    font-size: 18px;
  }

  .navbar a::after {
    display: none;
  }
}

/* Large desktop */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    left: 40px;
  }

  .header-btn button {
    right: 70px;
  }
}

/* Large Mobile */
@media (min-width: 660px) and (max-width: 767.98px) {
  header {
    left: 22px;
  }

  .header-btn button {
    right: 75px;
  }
}

/* Medium Mobile */
@media (min-width: 460px) and (max-width: 659.98px) {
  header {
    padding: 10px 0px;
    left: 25px;
  }

  #menu-icon {
    right: 20px;
  }

  .header-logo img {
    width: 170px;
    margin-left: 8px;
    padding-right: 15px;
  }

  .header-btn button {
    right: 85px;
  }

  .bar {
    right: -6px;
  }
}


/* Small Mobile */
@media (max-width: 459.98px) {
  header {
    margin-left: -66px;
  }


  .header-logo img {
    padding-right: 15px;
  }

  .bar {
    right: -123px;
  }

  .header-btn button {
    right: 82px;
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}