/*
Note - 1 : Google Fonts Are Stored Locally

*/

/**    General    **/
@font-face {
  src: url(Fonts/Quicksand/Quicksand-Medium.ttf);
  font-family: Quicksand-Medium;
}

@font-face {
  src: url(Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
  font-family: BebasNeue-Regular;
}

:root {
  --text-color: #ffffff;
  --accent-color: #e4d6a1;
}

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  text-decoration: none;
  color: var(--text-color);
  font-family: Quicksand-Medium, sans-serif, Arial;
}

body {
  background-image: url(Images/urs-lendermann-Xs4_MlzINzs-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


/**    Navbar Section   **/
header {
  position: sticky;
  width: 90%;
  top: 7px;
  right: 0;
  left: 40px;
  z-index: 1000;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  box-shadow: 0px 4px 50px rgba(227, 228, 237, 0.37);
}

.header-logo img {
  margin-left: 19px;
  width: 200px;
  border-right: 1px solid #FFC300;
  padding-right: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  position: relative;
  list-style: none;
}


.navbar a:hover {
  color: var(--accent-color);
}

.navbar a {
  font-size: 1rem;
  padding: 10px 31px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

#menu-icon {
  cursor: pointer;
  z-index: 1001;
  display: none;
}

.header-btn {
  display: flex;
  align-items: center;
}

/* Sign In Button */
.sign-in-btn {
  position: relative;
  padding: 10px 15px;
  border-radius: 7px;
  border: 1px solid #FFC300;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.sign-in-btn:hover {
  background: #FFC300;
  box-shadow: 0 0 30px 5px rgb(168, 168, 168);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #001D3D;
}

.sign-in-btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.sign-in-btn::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.sign-in-btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


/* Toggle Menu Button */
input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.bar {
  display: block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
  right: -125px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

input[type]:checked~span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

input[type]:checked~span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: 0 0 10px #495057;
}

input[type]:checked~span.middle {
  transform: translateX(-20px);
  opacity: 0;
}



/**    Home Section   **/
.home {
  width: auto;
  /* max-width: 100vh; */
  max-width: clamp(1.8rem, calc(7vw + 1rem), 5rem);
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  right: clamp(9rem, calc(1vw + 1rem), 5rem);
}

.title-text {
  margin-left: 76px;
  width: auto;
  margin-top: 60px;
  font-size: 15px;

}

.title-text p {
  font-size: clamp(1.8rem, calc(7vw + 1rem), 5rem);
  width: 105%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s,
    cursor .4s step-end infinite alternate;
  border-right: 1px solid var(--accent-color);
  font-family: BebasNeue-Regular, sans-serif;
  color: var(--accent-color);
  margin-bottom: 5px;
  margin-top: 5px;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

section {
  padding: 35px 100px;
}



.form-container form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 100px;
  background: #fff;
  padding: 20px;
  border-radius: 0.5rem;
}

.input-box {
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}

.input-box span {
  font-weight: 500;
}

.input-box input {
  padding: 7px;
  outline: none;
  border: none;
  background: #495057;
  border-radius: 0.5rem;
  font-size: 1rem;
}